{#
 
 This file is part of the Sonata package.
 
 (c) Thomas Rabaix <thomas.rabaix@sonata-project.org>
 
 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
 
 #}
{% block sonata_security_roles_widget %}
    {% spaceless %}
        {% set remainingRoles = {} %}
        {% set remainingHiddenRoles = {} %}
        <table class="table table-condensed">
            <thead>
            <tr>
                <th></th>
                {% for label in label_permission %}
                    <th> {{ label }} </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {{ renderTable(form)|raw }}
            </tbody>
        </table>
        <ul class="list-unstyled">
            {% for child in form %}
                {{ form_widget(child) }}
            {% endfor %}
        </ul>
    {% endspaceless %}
{% endblock sonata_security_roles_widget %}
