.box.box-primary {
    float:  left;
}
.sonata-bc .tab-content{
    padding-top: 3px;
}
.role_table .span11 {
    border-bottom: 1px solid #f5f5f5;
}

.sonata-bc .row-fluid .role_table * {
    margin-left: 0;
}

.sonata-bc .row-fluid .role_table [class*="span"].header, .role_table [class*="col"].header {
    text-align: center;
    padding-top: 5px;
}

.sonata-bc .row-fluid .role_table input {
    width: auto;
    text-align: center;
}

.role_table *[class*="col"], .editable, .editable *[class*="col"] {
    padding: 0;
    padding-left: 2px;
}


.sonata-bc .row-fluid .role_table .item, .sonata-bc .row-fluid .role_table .labelAdmin, .role_table .item, .role_table .labelAdmin {
    padding-left: 17px;
    padding-top: 5px;
}

.sonata-bc .row-fluid .role_table .labelPermission, .role_table .labelPermission {
    padding-top: 5px;
}

.sonata-bc .row-fluid [class*="span"].editable  {
    margin: 0;
}

.editable ul {
    list-style: none;
    margin: 0;
}

.sonata-bc .form-horizontal .control-label {
    text-align: left;
}

.background {
    background-color: grey;
    color: white;
}

.sonata-bc .label {
    vertical-align: baseline;
    white-space: normal;
    line-height: normal;
    text-shadow: none;
}

.sonata-bc .form-horizontal input.iToggle {
    vertical-align: text-bottom;
}

.sonata-bc .tab-content>.show, .sonata-bc .pill-content>.show {
    display: block;
}