<form action="{{ path('sonata_user_change_password') }}" {% if form.vars.multipart %} enctype="multipart/form-data"{% endif %} method="POST" class="fos_user_change_password form-horizontal">
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-danger pull-right"><i class="icon-lock icon-white glyphicon glyphicon-lock"></i>&nbsp;{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
</form>
